<%- include('../partials/_header') %>
<div class="p-4 p-md-5 mb-5">
        <div class="col-lg-6 px-0 mx-auto">
            <!-- Hero Section -->
            <section class="hero-section">
                <div class="container">
                    <h1 class="display-5 fst-italic text-uppercase mb-3 text-center">Log in</h1>
                    <form action="/auth/login" method="post" class="mx-5">
                        <div class="form-group  mb-2">
                            <label for="email" class="form-label m-0">Email</label>
                            <input type="email" id="email" name="email" placeholder="Email" class="form-control" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password" class="form-label m-0">Password</label>
                            <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
                            <div class="d-flex align-items-center mt-2 gap-1">
                                <input type="checkbox" class="form-check m-0" name="show-password" id="show-password-checkbox">
                                <label class="m-0 text-muted" style="font-size: 12px;" for="show-password-checkbox">Show password</label>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-sm btn-primary" value="Log in">
                        <a class="mt-5 text-decoration-none text-reset d-block" href="/auth/forgot-password">
                            Forgot password?
                            <span class="text-reset fw-semibold">Reset</span>
                        </a>
                        <a class="mt-1 text-decoration-none text-reset d-block" href="/auth/create-account">
                            Don't have an account?
                            <span class="text-reset fw-semibold">Create one</span>
                        </a>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <script src="/js/showPassword.js"></script>
<%- include('../partials/_footer') %>
