<% if (success_msg && success_msg.length) { %>
    <div class="notification success">
        <%= success_msg.join(', ') %>
    </div>
<% } %>

<% if (error_msg && error_msg.length) { %>
    <div class="notification error">
        <%= error_msg.join(', ') %>
    </div>
<% } %>