<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.115.4">

  <link rel="stylesheet" href="/assets/dist/css/download.css">
  <link rel="stylesheet" href="/assets/dist/css/blog.css">
  <link rel="stylesheet" href="/assets/dist/css/blog.rtl.css">
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">


  <title>
    <%= title %>
  </title>

  <link rel="stylesheet" href="/assets/dist/css/brand.css">
  <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css.map">
  <!-- <link rel="stylesheet" href="/assets/dist/css/bootstrap.rtl.min.css">
  <link rel="stylesheet" href="/assets/dist/css/bootstrap.rtl.min.css.map"> -->
  <link rel="stylesheet" href="/assets/dist/css/bootstrap-icons.min.css">
  <!-- <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/blog/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"> -->
  <link rel="stylesheet" href="/assets/dist/css/styles.css">
  <link rel="stylesheet" href="/assets/dist/css/index.css">

  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
</head>

<body>

  
    <style>
        .offcanvas-header {
            border-bottom: 1px solid rgba(0,0,0,.1);
        }
        .offcanvas-end {
            width: 300px;
        }
        .user-avatar {
            width: 30px;
            height: 30px;
        }
        .dropdown-toggle::after {
            display: none;
        }
    </style>
    <div class="container">
        <!-- Desktop Header (visible on lg screens and above) -->
        <header class="border-bottom lh-1 py-3 d-none d-lg-block">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4">
                    <div class="blog-header-logo text-body-emphasis text-decoration-none text-uppercase">vu empire</div>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center gap-3">
                    <a class="btn btn-sm btn-danger" target="_blank"
                        href="https://www.youtube.com/channel/UCP7GeJWJPEBGoYvVB37tqNQ">
                        Subscribe
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                        <symbol id="check2" viewBox="0 0 16 16">
                            <path
                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                        </symbol>
                        <symbol id="circle-half" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
                        </symbol>
                        <symbol id="moon-stars-fill" viewBox="0 0 16 16">
                            <path
                                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
                            <path
                                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
                        </symbol>
                        <symbol id="sun-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                        </symbol>
                    </svg>

                    <div class="dropdown me-3 bd-mode-toggle">
                        <button class="btn btn-sm btn-primary dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
                            aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
                            <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
                                <use href="#circle-half"></use>
                            </svg>
                            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
                                    aria-pressed="false">
                                    <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                                        <use href="#sun-fill"></use>
                                    </svg>
                                    Light
                                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                                        <use href="#check2"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
                                    aria-pressed="false">
                                    <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                                        <use href="#moon-stars-fill"></use>
                                    </svg>
                                    Dark
                                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                                        <use href="#check2"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto"
                                    aria-pressed="true">
                                    <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                                        <use href="#circle-half"></use>
                                    </svg>
                                    Auto
                                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                                        <use href="#check2"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>


                    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                        <symbol id="aperture" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" viewBox="0 0 24 24">
                            <circle cx="12" cy="12" r="10" />
                            <path
                                d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
                        </symbol>
                        <symbol id="cart" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </symbol>
                        <symbol id="chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </symbol>
                    </svg>
                </div>
            </div>
        </header>

        <!-- Mobile Header (visible on screens smaller than lg) -->
        <div class="d-lg-none py-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="blog-header-logo text-body-emphasis text-decoration-none text-uppercase">vu empire</div>
                <button class="btn border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="bi bi-list fs-2"></i>
                </button>
            </div>
        </div>

        <!-- Desktop Navigation (visible on lg screens and above) -->
        <div class="py-1 mb-3 border-bottom text-uppercase d-none d-lg-block">
            <div class="nav nav-underline justify-content-between">
                <div>
                    <a class="nav-item nav-link link-body-emphasis" href="/">home</a>
                </div>
                <div>
                    <a class="nav-item nav-link link-body-emphasis" href="/handouts">handouts</a>
                </div>
                <div class="dropdown">
                    <button class="btn border-0 outline-0 dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        PAST PAPERS
                    </button>
                    <ul class="dropdown-menu">
                        <li class="text-start"><a class="dropdown-item" href="/exams/mid_term">mid term</a></li>
                        <li class="text-start"><a class="dropdown-item" href="/exams/final_term">final term</a></li>
                    </ul>
                </div>
                <div>
                    <a class="nav-item nav-link link-body-emphasis" href="/assignments">assignment's</a>
                </div>
                <div>
                    <a class="nav-item nav-link link-body-emphasis" href="/quizes">quiz's</a>
                </div>
                <div>
                    <a class="nav-item nav-link link-body-emphasis" href="/gdb"> gdb's</a>
                </div>

                <div class="dropdown">
                    <button class="btn border-0 outline-0  dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        JOIN OUR COMMUNITY
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" target="_blank"
                            href="https://chat.whatsapp.com/HLRZYzLrlra8OFeWevwUho">whatsapp group</a></li>
                        <li><a class="dropdown-item" target="_blank"
                            href="https://www.youtube.com/channel/UCP7GeJWJPEBGoYvVB37tqNQ">you tube channel </a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://discord.gg/56ZjsGKV">discord server</a></li>
                    </ul>
                </div>

                <% if(user){%>
                <div class="dropdown">
                    <button class="btn border-0 outline-0  dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="bg-primary text-white rounded-circle d-flex align-items-center justify-content-center user-avatar">
                            <span class="fw-bold"><%= user.username[0].toUpperCase() %></span>
                        </div>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/dashboard">Dashboard</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/quiz/history">quiz history</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/auth/logout">logout</a>
                        </li>
                    </ul>
                </div>
                <%}else{%>
                <div>
                    <a class="nav-item nav-link link-body-emphasis" href="/auth/login">login</a>
                </div>
                <%}%>
            </div>
        </div>
    </div>

    <!-- Offcanvas Sidebar for Mobile -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title blog-header-logo" id="offcanvasRightLabel">VU Empire</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body pt-0">
            <!-- Navigation Links -->
            <div class="nav nav-underline d-flex flex-column gap-3">
                <a class="nav-item nav-link link-body-emphasis text-start" href="/">Home</a>
                <a class="nav-item nav-link link-body-emphasis text-start" href="/handouts">Handouts</a>
                
                <!-- Past Papers Dropdown -->
                <div class="accordion" id="accordionPastPapers">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePastPapers" aria-expanded="false" aria-controls="collapsePastPapers">
                                PAST PAPERS
                            </button>
                        </h2>
                        <div id="collapsePastPapers" class="accordion-collapse collapse" data-bs-parent="#accordionPastPapers">
                            <div class="accordion-body p-0">
                                <div class="d-flex flex-column">
                                    <a class="p-3 ps-4 text-decoration-none text-reset" href="/exams/mid_term">Mid Term</a>
                                    <a class="p-3 ps-4 text-decoration-none text-reset" href="/exams/final_term">Final Term</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <a class="nav-item nav-link link-body-emphasis text-start" href="/assignments">Assignment's</a>
                <a class="nav-item nav-link link-body-emphasis text-start" href="/quizes">Quiz's</a>
                <a class="nav-item nav-link link-body-emphasis text-start" href="/gdb">GDB's</a>
                
                <!-- Community Dropdown -->
                <div class="accordion" id="accordionCommunity">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCommunity" aria-expanded="false" aria-controls="collapseCommunity">
                                JOIN OUR COMMUNITY
                            </button>
                        </h2>
                        <div id="collapseCommunity" class="accordion-collapse collapse" data-bs-parent="#accordionCommunity">
                            <div class="accordion-body p-0">
                                <div class="d-flex flex-column">
                                    <a class="p-3 ps-4 text-decoration-none text-reset" target="_blank" href="https://chat.whatsapp.com/HLRZYzLrlra8OFeWevwUho">WhatsApp Group</a>
                                    <a class="p-3 ps-4 text-decoration-none text-reset" target="_blank" href="https://www.youtube.com/channel/UCP7GeJWJPEBGoYvVB37tqNQ">YouTube Channel</a>
                                    <a class="p-3 ps-4 text-decoration-none text-reset" target="_blank" href="https://discord.gg/56ZjsGKV">Discord Server</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex align-items-center gap-3">
                  <a class="btn btn-sm btn-danger" target="_blank" href="https://www.youtube.com/channel/UCP7GeJWJPEBGoYvVB37tqNQ">
                    Subscribe
                  </a>
                   <!-- Theme Toggle -->
                <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                        <symbol id="check2" viewBox="0 0 16 16">
                            <path
                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                        </symbol>
                        <symbol id="circle-half" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
                        </symbol>
                        <symbol id="moon-stars-fill" viewBox="0 0 16 16">
                            <path
                                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
                            <path
                                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
                        </symbol>
                        <symbol id="sun-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                        </symbol>
                    </svg>

                    <div class="dropdown me-3 bd-mode-toggle">
                        <button class="btn btn-sm btn-primary dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
                            aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
                            <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
                                <use href="#circle-half"></use>
                            </svg>
                            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
                                    aria-pressed="false">
                                    <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                                        <use href="#sun-fill"></use>
                                    </svg>
                                    Light
                                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                                        <use href="#check2"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
                                    aria-pressed="false">
                                    <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                                        <use href="#moon-stars-fill"></use>
                                    </svg>
                                    Dark
                                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                                        <use href="#check2"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto"
                                    aria-pressed="true">
                                    <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                                        <use href="#circle-half"></use>
                                    </svg>
                                    Auto
                                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                                        <use href="#check2"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>


                    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                        <symbol id="aperture" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" viewBox="0 0 24 24">
                            <circle cx="12" cy="12" r="10" />
                            <path
                                d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
                        </symbol>
                        <symbol id="cart" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </symbol>
                        <symbol id="chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </symbol>
                    </svg>

                </div>
                
                <!-- User Section -->
                <% if(user){%>
                    <div class="border-top pt-3 mt-3">
                      <div class="accordion" id="accordionUserProfile">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUserProfile" aria-expanded="false" aria-controls="collapsePastPapers">
                                    <div class="d-flex align-items-center">
                                      <div class="bg-primary text-white rounded-circle d-flex align-items-center justify-content-center user-avatar me-2">
                                          <span class="fw-bold"><%= user.username[0].toUpperCase() %></span>
                                      </div>
                                      <span class="fw-bold"><%= user.username %></span>
                                    </div>
                                </button>
                            </h2>
                            <div id="collapseUserProfile" class="accordion-collapse collapse" data-bs-parent="#accordionUserProfile">
                                <div class="accordion-body p-0">
                                    <div class="d-flex flex-column">
                                        <a class="p-3 ps-4 text-decoration-none text-reset" href="/dashboard">Dashboard</a>
                                        <a class="p-3 ps-4 text-decoration-none text-reset" href="/quiz/history">Quiz History</a>
                                        <a class="p-3 ps-4 text-decoration-none text-reset" href="/auth/logout">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                <%}else{%>
                    <a class="btn btn-outline-primary text-start mt-3" href="/auth/login">Login</a>
                <%}%>
            </div>
        </div>
    </div>
  <main class="container">