<%- include('../../partials/_header') %>
<div class="col-6 mt-5 mx-auto">
    <form action="/admin/lectures/create" method="post" enctype="multipart/form-data">
        <div class="form-group mb-2">
            <select name="course_id" id="course_id">
                <option value="">Select a course</option>
                <% courses.forEach(course => { %>
                    <option value="<%= course.id %>"><%= course.title %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group mb-2">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter lecture title" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">
            <i class="bi bi-plus-lg me-2"></i> Create
        </button>
    </form>
</div>
<%- include('../../partials/_footer') %>