<%- include('partials/_header') %>
    <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="col-lg-6 mt-5">
                    <h4>Sign in</h4>
                    <form action="/auth/signin" method="post">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" name="username" placeholder="Username" class="form-control" required>
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
                        <input type="submit" class="btn btn-sm btn-primary mt-3" value="Sign in">
                        <a class="mt-3 text-decoration-none text-dark d-block" href="/auth/signup">
                            Don't have an account?
                            <span class="text-primary">Sign up</span>
                        </a>
                    </form>
                </div>
            </div>
    </div>
<%- include('partials/_footer') %>
