<%- include('partials/_header') %>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-3">
            <h4>Sign up</h4>
            <form action="/auth/signup" method="post">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" class="form-control" required>
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" class="form-control" required>
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
                <input type="submit" class="btn btn-sm btn-primary mt-3" value="Sign up">
                <a class="mt-3 text-decoration-none text-dark d-block" href="/auth/signin">
                    Already have an account?
                    <span class="text-primary">Sign in</span>
                </a>
            </form>
        </div>
        <div class="col-lg-9 d-flex justify-content-between">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <h3>Quiz App</h3>
            </div>
        </div>
    </div>
</div>
<%- include('partials/_footer') %>
