<%- include('../partials/_header') %>

<div class="row">
  <div class="col-md-6">
    <h2>Features</h2>
  </div>
</div>

<div class="alert alert-info" role="alert">
  This section is under development. Please check back later for updates.
</div>

<%- include('../partials/_footer') %>